.place__title {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;

  margin: 0;

  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  line-height: 76px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    display: block;

    width: calc(100% - 17px * 2);
    margin: auto;

    font-size: 32px;
    line-height: 35px;
  }
}
