.page {
  max-width: 1280px;
  margin: auto;

  color: #FFFFFF;
  background: #2A2C2F;

  font-family: 'Inter';

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: calc(100% - 96px);
  height: 52px;
  margin: auto;
  padding: 28px 0 56px;
}

.header__logo {
  width: 176px;
  height: 100%;

  background-image: url(../images/header-logo.svg);
}

.header__lang-link {
  transition: opacity .2s ease;
  text-align: right;
  text-decoration: none;

  color: #FFFFFF;

  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.17;

}

.header__lang-link:not(:last-child) {
  margin-right: 18px;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: calc(100% - 148px * 2);
  margin: auto;
}

.lead__title {
  max-width: 720px;
  min-height: 200px;
  margin: 0 0 32px;
  padding: 0;

  text-align: center;

  font-size: 96px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.04;
}

.lead__subtitle {
  max-width: 640px;
  min-height: 72px;
  margin: 0;
  padding: 0 0 64px;

  text-align: center;

  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
}

.lead__image {
  width: 100%;
  padding: 0 0 8px;

  object-fit: cover;
  object-position: center;
}

.lead__caption {
  align-self: flex-start;

  margin: 0;

  letter-spacing: .15em;
  text-transform: uppercase;

  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.40;
}

.intro {
  margin: auto;
  padding: 92px 0;
}

.content__intro {
  margin: 0 442px 0 148px;
}

.intro__title {
  margin: 0 0 40px;

  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.07;
}

.intro__text {
  margin: 0 0 32px;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.62;
}

.intro__list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.5;
}

.photo-grid {
  display: grid;

  width: calc(100% - 48px * 2);
  margin: auto;
  padding: 0 0 92px;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;

}
.photo-grid__item {
  width: 100%;
}


.places {
  width: calc(100% - 148px * 2);
  margin: auto;
  padding: 0 0 92px;


}

.places-list {
  margin: 0;
  padding: 0;
}

.place {
  display: grid;

  width: 100%;
  padding: 0;

  list-style: none;

  grid-template: auto 1fr/ 1fr 1fr;
  grid-gap: 48px 40px;
}

.place:not(:last-child) {
  padding-bottom: 80px;
}

.place__title {
  margin: 0;

  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.06;
}
.place__image {
  width: 100%;

  grid-row: 2 / -1;
}
.place__website {
  align-self: end;
}
.place__url-heading {
  margin: 0;

  letter-spacing: .2em;

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.;
}
.place__link {
  transition: opacity .2s ease;

  color: #FFFFFF;

  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.22;

  text-decoration-line: underline;
}

.place__link:hover {
  opacity: .8;
}

.place__paragraph {
  margin: 0;

  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.67;
}


.cover {
  width: calc(100% - 48px * 2);
  min-height: 100vh;
  margin: auto;
  padding: 0;

  background-image: url(../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
}
.cover__title {
  max-width: 560px;
  margin: 0 0 32px;

  text-align: center;

  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.06;
}
.cover__subtitle {
  max-width: 360px;
  margin: 0;

  text-align: center;

  font-family: Inter;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.22;
}
.cover__overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100vh;

  transition: background-color .5s ease;
  text-decoration: none;

  color: #FFFFFF;
  background-color: rgba(42, 44, 47, 0);
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

.footer {
  display: flex;
  justify-content: space-between;

  width: calc(100% - 48px * 2);
  margin: auto;
  padding: 92px 0 24px;
}

.footer__link {
  margin-right: 18px;

  transition: opacity .2s ease;
  text-decoration: none;

  color: #FFFFFF;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.12;
}

.footer__link:hover {
  margin-right: 18px;

  text-decoration: none;

  opacity: .8;
  color: #FFFFFF;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.12;
}

.footer__copyright {
  margin: 0;

  text-align: right;

  font-family: Inter;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.14;
}
