@import url('../vendor/Inter-3.13/Inter Web/inter.css');

.page {
  max-width: 1280px;
  margin: auto;

  color: #FFFFFF;
  background: #2A2C2F;

  font-family: 'Inter';
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  width: calc(100% - 96px);
  height: 52px;
  margin: auto;
  padding: 28px 0 56px;
}

.header__logo {
  width: 176px;
  height: 100%;

  background-image: url(../images/header-logo.svg);
}

.header__lang-link {
  text-align: right;

  color: #FFFFFF;

  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  line-height: 28px;
}

.header__lang-link:not(:last-child) {
  margin-right: 18px;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: calc(100% - 148px * 2);
  margin: auto;
}

.lead__title {
  width: 720px;
  min-height: 200px;
  margin: 0 0 32px;
  padding: 0;

  text-align: center;

  font-size: 96px;
  font-weight: 900;
  font-style: normal;
  line-height: 104%;
}

.lead__subtitle {
  width: 640px;
  min-height: 72px;
  margin: 0;
  padding: 0 0 64px;

  text-align: center;

  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;
}

.lead__image {
  width: 100%;
  padding: 0 0 8px;

  object-fit: cover;
}

.lead__caption {
  align-self: flex-start;

  margin: 0;

  letter-spacing: 0.15em;
  text-transform: uppercase;

  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  line-height: 140%;
}

.intro {
  margin: auto;
  padding: 92px 0;
}

.content__intro {
  margin: 0 442px 0 148px;
}

.intro__title {
  margin: 0 0 40px;

  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  line-height: 58px;
}

.intro__text {
  margin: 0 0 32px;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
}

.intro__list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  line-height: 18px;
}

.photo-grid {
  display: grid;

  width: calc(100% - 48px * 2);
  margin: auto;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;

}
.photo-grid__item {
  width: 100%;
}
