.cover__subtitle {
  max-width: 360px;
  margin: 0;

  text-align: center;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 22px;
}

  @media screen and (max-width: 768px) {
    .cover__subtitle {
      max-width: calc((100vw - 320px) / (768 - 320) * (360 - 270) + 270px);

      font-size: calc((100vw - 320px) / (768 - 320) * (18 - 14) + 14px);
      line-height: calc((100vw - 320px) / (768 - 320) * (22 - 16) + 16px);
    }
  }
