.header__logo {
  display: flex;
  justify-content: space-between;

  width: 176px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: calc((100vw - 320px) / (768 - 320) * (176 - 142) + 142px);
  }
}
