@import url(./__logo/header__logo.css);
@import url(./__logo-piece/header__logo-piece.css);
@import url(./__link/header__link.css);
@import url(./__links/header__links.css);
@import url(./__link/_active/header__link_active.css);

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: calc(100% - 48px * 2);
  height: 52px;
  padding: 28px 0 64px;
}

@media screen and (max-width: 1280px) {
  .header {
    min-width: calc(768px - 24px * 2);
    padding-bottom: calc((100vw - 1024px) / (1280 - 1024) * (64 - 56) + 56px);
  }
}

@media screen and (max-width: 1024px) {
  .header {
    min-width: calc(768px - 24px * 2);
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px * 2);
    min-width: calc(425px - 16px * 2);
    height: calc((100vw - 320px) / (768 - 320) * (52 - 42) + 42px);
    padding: calc((100vw - 320px) / (768 - 320) * (28 - 16) + 16px) 0 calc((100vw - 320px) / (768 - 320) * (56 - 51) + 51px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 16px * 2);
    min-width: 0;
  }
}
