.place__paragraph {
  margin: 0;

  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
}

.place__paragraph:not(:last-child) {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph {
    display: block;

    width: calc(100% - 16px * 2);
    margin: auto;
  }
}
