.intro__text {
  margin: 0 calc(442px - 148px) 32px 0;

  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.62;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    margin-right: calc(286px - 48px);
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin-right: 0;
  }
}
