@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-number/intro__list-number.css);

.intro {
  width: calc(100% - 148px * 2);
  min-width: calc(1024px - 48px * 2);
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 48px * 2);
    min-width: calc(768px - 24px * 2);
  }

}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 24px * 2);
    min-width: calc(425px- 16px * 2);
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: calc(100% - 16px * 2);
    min-width: 0;
    padding-bottom: 64px;
  }
}
