.footer__links-item {
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links-item:not(:last-child) {
    margin-bottom: 38px;
  }
  .footer__links-item:last-child {
    margin-bottom: 48px;
  }
}
