.place__link {
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;

  color: #FFFFFF;

  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.22;

  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.place__link:hover {
  opacity: .8;
}
