@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: -ms-grid;
  display: grid;

  width: 100%;
  padding: 0;

  list-style: none;

  -ms-grid-rows: auto 48px 1fr;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template: auto 1fr/ 0.95fr 1fr;
  grid-gap: 38px 40px;
}

.place:not(:last-child) {
  padding-bottom: 91px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-gap: 40px 28px;
    grid-template: auto 1fr/ 0.96fr 1fr;
  }

  .place:not(:last-child) {
    padding-bottom: 76px;
  }

}

@media screen and (max-width: 767px) {
  .place {
    -ms-grid-rows: auto 32px 1fr 32px 1fr;
    -ms-grid-columns: 1fr;
    grid-template: auto 1fr 1fr / 1fr;
    grid-row-gap: 30px;
  }

  .place:not(:last-child) {
    padding-bottom: 54px;
  }
}
