.place__url-heading {
  margin-bottom: 12px;

  letter-spacing: .2em;
  text-transform: uppercase;

  color: #AAAAAA;

  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-variant: none;
  line-height: 12px;
}

.place__url-heading[title] {
  text-decoration: none;
}
