.intro__title {
  margin: 0 0 33px;

  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  line-height: 58px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
