.intro__title {
  margin: 0 0 40px;

  font-size: 54px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.07;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
